
{% extends 'consignorbase.html' %}
{% load static %} 

{% block content %}



  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div>
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">One stop solution for your transport requirements</h2>
          <p data-aos="fade-up" data-aos-delay="100">We the best Packers and Movers In India, transportation company use the international quality packing materials to protect your goods from damage, moisture or dust.</p>

          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <!-- <input type="text" class="form-control" placeholder="Place your Mobile No. for quick enquiry">
            <button type="submit" class="btn btn-primary">Quote</button> -->
          </form>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'assets/img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section>
</div>


{% endblock %}